body {
  background-color: #f7f7e8;
}

footer {
  text-align: center;
}

h1 {
  color: #557174;
  font-size: 60px;
}

.App {
  font-family: "Poppins", sans-serif;
  padding-bottom: 50px;
}

.App-header {
  text-align: center;
  margin-top: 10px;
}

.body {
  display: block;
  margin: 10px auto;
  max-width: 600px;
}

.Kristen {
  margin-top: 10px;
  font-size: 15px;
  color: #557174;
}

.Kristen a {
  text-decoration: none;
  color: #557174;
}

.Kristen a:hover {
  text-decoration: underline;
  transition: all 200ms ease-in-out;
  color: #9dad7f;
}
