footer {
  text-align: center;
}

.App-header {
  text-align: center;
  margin-top: 10px;
}

.body {
  display: block;
  margin: 10px auto;
  max-width: 600px;
}

.Kristen {
  margin-top: 10px;
  font-size: 15px;
}

.Kristen a {
  text-decoration: none;
}

.Kristen a:hover {
  text-decoration: underline;
  transition: all 200ms ease-in-out;
}
