.Dictionary {
  text-align: center;
  margin-top: 20px;
  margin-bottom: 15px;
}

.Dictionary h1 {
  color: #f7f7e8;
  font-size: 27px;
  margin-bottom: 25px;
}
.Dictionary section {
  display: block;
  margin: 10px auto;
  background-color: #557174;
  max-width: 700px;
  padding: 30px;
  border-radius: 7px;
  box-shadow: rgba(37, 39, 89, 0.2) 0 5px 10px 0;
}

.Dictionary input {
  display: block;
  margin: 0 auto;
  margin-bottom: 10px;
  border: 1px solid #557174;
  box-shadow: rgba(37, 39, 89, 0.2) 0 5px 10px 0;
  border-radius: 6px;
  padding: 15px;
  font-size: 18px;
  width: 80%;
}

.Dictionary small {
  color: #f7f7e8;
  margin-right: 200px;
  margin-top: 10px;
  font-size: 16px;
}
