ul {
  text-decoration: none;
  padding: 0;
}

.Synonyms li {
  display: inline-block;
  padding-right: 10px;
  font-weight: normal;
}

.similar {
  margin-top: 15px;
  font-size: 17px;
  font-weight: 600;
}
